lloger.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.iessonferrer.net/jgonzalez/lloguerCotxes"
elementFormDefault="qualified">
<xsd:element name="lloguerCotxes">
	<xsd:complexType>
		<xsd:sequence>
		<xsd:element name="cotxe" maxOccurs="unbounded">
			<xsd:complexType>
				<xsd:sequence>
				<xsd:element name="marca" type="xsd:string" />
				<xsd:element name="model" type="xsd:string" />
					<xsd:complexType>
							<xsd:sequence>
